Package: com.burritoz.alphabetfolders
Name: AlphabetFolders
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Sort your folders alphabetically after each respring! OCD no more!
Maintainer: burrit0z
Author: burrit0z
Section: Tweaks
Version: 1.0.0
Installed-Size: 264
